<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.rothconsulting.android.radiorec" android:versionCode="107"
	android:versionName="1.0.7">
	<uses-sdk android:minSdkVersion="4" />
	<supports-screens android:resizeable="true"
		android:smallScreens="true" android:normalScreens="true"
		android:largeScreens="true" android:anyDensity="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:label="@string/app_name" android:icon="@drawable/jukebox_48x48">
		<activity android:name="com.rothconsulting.android.radiorec.RadioRecPlus"
			android:label="@string/radiorec" android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation" />
		<activity android:name="Info" />
		<activity android:name="Webcam" />
		<activity android:name="Donate" />
		<activity android:name="Settings" />
	</application>
</manifest>

